/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) { 
    .access-panel {
        position: sticky;
            top: 89%;
        width: 8rem;
        margin-left: auto;
        padding: 1.4rem 1.2rem;
       
        border-radius: 1.8rem 0 0 1.8rem;
    }

    .access-panel__button {
        padding: 1rem 1.2rem;
        font-size: 2rem;
        border-radius: 100%;

    }
}