/*==  BASE STYLES  ==*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f17f3e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}