/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) {
    .card-component {
        display: flex;
        padding: 1rem;
        background-color: white;
        border-radius: .6rem;
    }

    .card-component__heading {
        color: #333;
    }

    .card-component__image {
        max-width: 6rem;
        border-radius: 100%;
    }
}