/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) {
    .button {
        font-size: 1rem;
        font-weight: 600;
        line-height: 0;
        padding: 1.125rem;
    }

    .button--primary {
        color: #f17f3e;
        background-color: #252525; 
        border: 0.1875rem solid #f17f3e;
        transition: .3s all ease;
    }
    
    .button--primary:hover {
        color: #252525;
        background-color: #f17f3e;
    }

    .button__secret {
        opacity: 0;
        color: #252525;
        text-align: right;
        float: right;
        transition: .3s all ease;
    }

    .button:hover .button__secret {
        opacity: 1;
    }

    /* ==== CARD COMPONENT ==== */
    .card-component {
        position: relative;
        margin-bottom: 1.25rem;
        padding: 0.875rem;
        background-color: #f3f3f3;
        border-radius: 0.375rem;
    }

    .card-component__label {
        position: absolute;
            top: 0.625rem;
            right: 0.625rem;
        color: #252525;
        font-weight: 600;
    }

    .card-component__copy {
        flex-grow: 1;
        color: #252525;
    }

    .card-component__header {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
    }

    .card-component__heading {
        color: inherit;
        font-size: 1.125rem;
        margin-left: 0.75rem;
    }

    .card-component__subtext {
        color: inherit;
        font-size: 1rem;
    }

    .card-component__image {
        max-width: 3.25rem;
        height: fit-content;
        border-radius: 100%;
    }

    /* ==== CARD CONTROL PANEL ==== */
    .card-component-controls {
        width: 100%;
        background-color: #303030;
        padding: 0.625rem;
        border-radius: 0.375rem;
    }

    .card-component-controls__description {
        font-size: 0.75rem;
        font-weight: 600;
        margin-bottom: 0.625rem;
    }

    .card-component-controls__swatches-wrapper {
        display: flex;
            justify-content: space-around;
        width: 100%;
    }

    .card-component-controls__swatch {
        width: 2.5rem;
        height: 2.5rem; 
        border: 1px solid #f3f3f3; 
        border-radius: 100%;
    }

    .card-component-controls__swatch--orange {
        background-color: #f17f3e;
    }
    .card-component-controls__swatch--blue {
        background-color: lightblue;
    }
    .card-component-controls__swatch--purple {
        background-color: purple;
    }
    .card-component-controls__swatch--white {
        background-color: #ddd;
    }
}
