/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) {
    .landing-banner {
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        height: 74vh;
    }
    .landing-banner__photo {
        width: 100%;
        height: fit-content;
        max-width: 24rem;
        margin: 1.4rem 0;
        border: .7rem solid #f17f3e;
        border-radius: 100%;
        order: 1;
    }
}

/*==  Small Screen  ==*/
@media only screen and (min-width: 400px) {
    .landing-banner__photo {
        max-width: 28rem;
    }
}