/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) {
    .button {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 0;
        padding: 1.8rem;
    }

    .button--primary {
        color: #f17f3e;
        background-color: #252525; 
        border: .3rem solid #f17f3e;
        transition: .3s all ease;
    }
    .button--primary:hover {
        color: #252525;
        background-color: #f17f3e;
    }
}